# App
NODE_ENV=development
PORT=3000

# Database
POSTGRES_USER=nest
POSTGRES_PASSWORD=nest
POSTGRES_DB=nest
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=admin
PG_PORT=5432
DATABASE_URL=postgresql://nest:nest@db:5432/nest

